*{
    margin: 20px 10px;
    background-color: gray;
    text-align: justify;
}

.letra{
    font-size: 10px;
}

h1{
    text-align: center;
}

header{
    border: 2px solid black;
}

#size{
    width: 382px;
}

#insta{
    width: 57px;
}

p{
   color: brown; 
}